/* reset */
button {
  all: unset;
}

.CheckboxRoot {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 15px;
  height: 15px;

  background-color: white;
  border: 1px solid #000;
  border-radius: 4px
}

.CheckboxRoot:hover {
  background-color: var(--color-light-900);
}

.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color: var(--color-dark-500);
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}