.form {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.title {
  padding-bottom: 10px;
}

.tasksListWrapper {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 15px 10px 20px;
}

.tasksList {
  flex-grow: 1;
  padding: 10px 0;
}

.form > div{
  width: 80%;
}

.form > button {
  width: 15%;
}