@mixin button{
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 10px;

  font-weight: var(--font-weight-regular);
  color: var(--color-light-500);

  border: none;
  border-radius: 2px;
}

.success {
  @include button;

  background-color: var(--color-success-500);
}

.danger {
  @include button;

  background-color: var(--color-danger-500);
}

.info {
  @include button;

  background-color: var(--color-info-500);
}