.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.taskTitle {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--color-info-700);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 50px;

  .icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  svg {
    fill: white;
  }
}

.isDone {
  opacity: 0.5;
}
