.button {
  height: 36px;
}

.form {
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin: 0 auto;
  padding: 10px 0 40px;
}

.myBtn {
  color: #cc1439;
  border: 2px solid tomato;
}