.button {
  height: 36px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 0 40px;
}

.form > div{
  width: 80%;
}

.form > button {
  width: 15%;
}